.card{
    -webkit-box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.22);
    box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.22);
    border: none;
    border-radius: 10px;
    vertical-align: middle;
    margin-top: 50px;
    
}
h6{
    color: gray;
}
.btn-block{
    width: 100%;
    margin: 5px 0px;
}
.btn-outline-info:hover{
    color: white;
}
footer{
    color: gray;
    text-align: center;
}